#logo {
  margin-bottom: 30px;
}

#mapSiteMenu {
  overflow: hidden;
}

#viewMenu {
  float: left;
  margin-right: 50px;
}

#userNav {
  float: left;
}

.userNav__list li {
  font-size: 1.6em;
  margin-bottom: 12px;
}
.userNav__list li a {
  color: #8a8b8c;
  position: relative;
  padding-left: 24px;
}
.userNav__list li a:hover {
  color: #0085b2;
}
.userNav__list li a i {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.i-settings {
  width: 16px;
  height: 16px;
  background: url(../i/spriteTiserIco.png) 0px 0px no-repeat;
}

.i-profile {
  width: 18px;
  height: 16px;
  background: url(../i/user-icon.png) 0px 0px no-repeat;
  left: -2px !important;
}

.i-logout {
  width: 16px;
  height: 16px;
  background: url(../i/logout.png) 0px 0px no-repeat;
}
