#statisticNav {
  float: right;
  width: 260px;
  background: #F0F0F7;
  padding-bottom: 5000px;
  margin-bottom: -5000px;
}

.statisticNav__list li {
  font-size: 1.8em;
  overflow: hidden;
}
.statisticNav__list li a {
  color: #0085B2;
  line-height: 45px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 18px;
}
.statisticNav__list li a:hover {
  background: #EBEBF3;
}
.statisticNav__list li a span {
  display: inline-block;
  width: 100px;
}

.statisticNav__list__link {
  position: relative;
}
.statisticNav__list__link:after {
  content: "";
  position: absolute;
  right: 57px;
  top: 50%;
  margin-top: -3px;
  width: 11px;
  height: 6px;
  display: block;
  background: url(../i/filterNavArrows.png) 0px 0px no-repeat;
}

.openStatSublist {
  background: #EBEBF3;
}
.openStatSublist:after {
  background-position: 0px -6px;
}

.statisticNav__sublist {
  background: #EBEBF3;
  padding-left: 20px;
  display: none;
}
.statisticNav__sublist li {
  font-size: 1em;
}
.statisticNav__sublist li a {
  color: #404051;
}
